<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./customLink/head.ejs") %>
    <title>Add Blog</title>
  </head>
  <body>
    <%- include("./navbar.ejs") %>
    <div class="container">
      <form method="post" action="/blog/add-new" enctype="multipart/form-data">
        <div class="my-3">
          <label for="title" class="form-label">Blog Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
        </div>

        <div class="my-3">
          <label for="title" class="form-label">Blog Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            required
          />
        </div>
        <div class="mb-3">
          <label for="coverImage" class="form-label"> Blog Image</label>
          <input
            class="form-control"
            type="file"
            id="formFile"
            name="coverImage"
            accept="image/*"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
  <%- include("./customLink/script.ejs") %>
</html>
